.table {
    position: absolute;
    height: 90vh;
    left: 0;
}

.btn {
    color: white;
    border-color: white;

    :hover{
        background-color: slategray;
        color:white;
    }
}

nav {
    color: white!important;

    option {
        color: white!important;
    }

    height: 10vh;
}

td {
    cursor: pointer;
    height: 33%;
    width: 33%;
}
