.table {
  position: absolute;
  height: 90vh;
  left: 0; }

.btn {
  color: white;
  border-color: white; }
  .btn :hover {
    background-color: slategray;
    color: white; }

nav {
  color: white !important;
  height: 10vh; }
  nav option {
    color: white !important; }

td {
  cursor: pointer;
  height: 33%;
  width: 33%; }
